name: Say hello

on:
  push:
    branches:
      - main

jobs:
  hello_world:
    runs-on: ubuntu-18.04
    steps:
      - name: Echo the message # Cuando colocamos los "-" es porque le indicamos que es una lista. La propiedad name es opcional
        run: |
          echo "Hola midu!"
      - name: Dime la fecha
        run: date
      - run: ls -l